<a href="https://colab.research.google.com/github/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/blob/main/ann_sederhana_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pendeteksian Tutup Rekening Nasabah Bank  (Churn)

## Bagian 1 - Data Preprocessing

### Importing the libraries

In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd

Mengetahui Versi of Tensorflow

In [2]:
tf.__version__

'2.4.0'

### Importing dataset

In [3]:
!wget https://github.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/raw/main/DataNasabah.csv

--2020-12-21 00:37:28--  https://github.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/raw/main/DataNasabah.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/main/DataNasabah.csv [following]
--2020-12-21 00:37:29--  https://raw.githubusercontent.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/main/DataNasabah.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 863152 (843K) [text/plain]
Saving to: ‘DataNasabah.csv’

DataNasabah.csv     100%[===================>] 842.92K  --.-KB/s    in 0.05s

2020-12-21 00:37:29 (17.1 MB/s) - ‘DataNasabah.csv’ saved [863152/863152]

In [4]:
dataset = pd.read_csv('DataNasabah.csv')

**Melihat Dataset**

In [5]:
dataset.head()

   Nomer  IDKostumer  ... PerkiraanPendapatan  TutupRekening
0      1    15634602  ...         10134888000              1
1      2    15647311  ...         11254258000              0
2      3    15619304  ...         11393157000              1
3      4    15701354  ...          9382663000              0
4      5    15737888  ...           790841000              0

[5 rows x 14 columns]

In [6]:
dataset.describe()

             Nomer    IDKostumer  ...  PerkiraanPendapatan  TutupRekening
count  10000.00000  1.000000e+04  ...         1.000000e+04   10000.000000
mean    5000.50000  1.569094e+07  ...         9.089385e+09       0.203700
std     2886.89568  7.193619e+04  ...         6.128208e+09       0.402769
min        1.00000  1.556570e+07  ...         5.230000e+05       0.000000
25%     2500.75000  1.562853e+07  ...         3.336751e+09       0.000000
50%     5000.50000  1.569074e+07  ...         8.890572e+09       0.000000
75%     7500.25000  1.575323e+07  ...         1.439529e+10       0.000000
max    10000.00000  1.581569e+07  ...         1.999925e+10       1.000000

[8 rows x 11 columns]

In [7]:
# Memeriksa tipe data dan nilai null
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nomer                10000 non-null  int64
 1   IDKostumer           10000 non-null  int64
 2   Nama                 10000 non-null  object
 3   NilaiKredit          10000 non-null  int64
 4   Provinsi             10000 non-null  object
 5   JenisKelamin         10000 non-null  object
 6   Umur                 10000 non-null  int64
 7   tenor                10000 non-null  int64
 8   saldo                10000 non-null  int64
 9   jumlahProduk         10000 non-null  int64
 10  PunyaKartuKredit     10000 non-null  int64
 11  NasabahAktif         10000 non-null  int64
 12  PerkiraanPendapatan  10000 non-null  int64
 13  TutupRekening        10000 non-null  int64
dtypes: int64(11), object(3)
memory usage: 1.1+ MB

In [8]:
# Mengabaikan 3 kolom pertama dan kolom terakhir, karena bukan fitur yang berguna.
# Indek dimulai dari 0.
x = dataset.iloc[:, 3:-1].values

# ambil kolom terakhir untuk mendapatkan sebagai nilai penentu(kelas tutup rekening / ada rekening).
# Just get the last column of dataset for the dependent variable.
y = dataset.iloc[:, -1].values

In [9]:
print(x)

[[619 'DKI Jakarta' 'Laki-Laki' ... 1 1 10134888000]
 [608 'Jawa Barat' 'Laki-Laki' ... 0 1 11254258000]
 [502 'DKI Jakarta' 'Laki-Laki' ... 1 0 11393157000]
 ...
 [709 'DKI Jakarta' 'Perempuan' ... 0 1 4208558000]
 [772 'Jawa Tengah' 'Laki-Laki' ... 1 0 9288852000]
 [792 'DKI Jakarta' 'Perempuan' ... 1 0 3819078000]]

In [10]:
print(y)

[1 0 1 ... 1 1 0]

### Mengkodekan kategori data

Melabeli kode kolom "JenisKelamin"

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Ambil semua baris untuk kolom ke-2 dan dikodekan.
x[:, 2] = le.fit_transform(x[:, 2])

In [12]:
print(x)

[[619 'DKI Jakarta' 0 ... 1 1 10134888000]
 [608 'Jawa Barat' 0 ... 0 1 11254258000]
 [502 'DKI Jakarta' 0 ... 1 0 11393157000]
 ...
 [709 'DKI Jakarta' 1 ... 0 1 4208558000]
 [772 'Jawa Tengah' 0 ... 1 0 9288852000]
 [792 'DKI Jakarta' 1 ... 1 0 3819078000]]

One Hot Encoding Kolom "Provinsi"

In [13]:
# dibuatkan one hot coding untuk tempat provinsi karena hal tersebut tidak berhubungan dengan mereka sendiri seperti halnya jenis kelamin.
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [14]:
print (x)

[[1.0 0.0 0.0 ... 1 1 10134888000]
 [0.0 1.0 0.0 ... 0 1 11254258000]
 [1.0 0.0 0.0 ... 1 0 11393157000]
 ...
 [1.0 0.0 0.0 ... 0 1 4208558000]
 [0.0 0.0 1.0 ... 1 0 9288852000]
 [1.0 0.0 0.0 ... 1 0 3819078000]]

### Membagi dataset menjadi data ajar dan data tes

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

### Skalar Fitur

In [16]:
# membuat skalar fitur untuk semua fitur yang ada dalam data ajar dan tes.
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
# Penyesuaian Skalar hanya pada data ajar untuk mencegah kebocoran informasi.
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Bagian 2 - Membangun ANN

### Penyiapkan ANN

In [17]:
# Membuat variabel yang mempresentasikan  ANN sebagai contoh dari kelas sekuensial yang menyiapkan ANN.
ann = tf.keras.models.Sequential()

### Menambahkan layer masukan dan layer pertama tersembunyi

In [18]:
# prosedur add() merupakan bagian kelas sekuensial.
# penambahan keseluruhan layer yang terhubung (tersembunyi), yang menjari objek baru untuk kelas yang padat.
# argumen dari dense() - 
# 'units' - merupakan penyebutan hyperparameters dan merupakan syaraf tersembunyi.
# 'activation' - fungsi aktifasi dalam layer yang tersembunyi harus sebagai fungsi aktifasi penyearah.
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) # 'relu' - nama kode untuk fungsi aktifasi penyearah.

### Menambahkan layar tersembunyi kedua

In [19]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Menambahkan layer keluaran

In [20]:
# Sebagaimana Layer Keluaran merupakan suatu binari yang hanya 1 syaraf untuk dicocokan dengan layer keluaran, sehingga 'units' = 1
# dibutuhkan fungsi aktifasi sigmoid, karena hal ini memberikan prediksi sebagaimana peluang probalilitasnya.# jika akan memprediksi variabel kategori, maka activation = 'sigmax'
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Bagian 3 - Pelatihan ANN

### Mengkompilasi ANN

In [21]:
# Argumen - 
# 'optimizer' - dipilih optimasi 'adam' karena dapat memberikan performa penurunan gradien stokastik. 
#  Penurunan gradien stokastik akan mengoptimalkan bobot untuk meminimalkan kerugian antara nilai aktual dan prediksi.
# 'loss' - Saat dilakukan klasifikasi biner dalam memprediksi variabel biner gunakan 'binary_crossentropy' dan 
#  jika memiliki variabel kategorikal untuk memprediksi digunakan 'categorical_crossentropy'
# 'metrics' - 
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Pelatihan ANN pada data ajar

In [22]:
# Pembelajaran batch, ukuran batch default untuk dibandingkan dengan hasil aktual = 32
ann.fit(X_train, y_train, batch_size=32, epochs=100)
# Seperti yang bisa dilihat, akurasi berkumpul di sekitar 0,86 di sekitar epoch = 20, jadi tidak dibutuhkan sampai 100 epoch.

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.9497 - accuracy: 0.3609
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5244 - accuracy: 0.7914
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.7978
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.7997
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4228 - accuracy: 0.8056
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.8091
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3921 - accuracy: 0.8217
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8153
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3860 - accuracy: 0.8151
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8174
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.8235
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8168
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8453
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3696 - accuracy: 0.8484
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8556
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8450
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3587 - accuracy: 0.8578
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8543
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8642
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8572
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8608
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8624
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8590
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3616 - accuracy: 0.8547
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8601
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8597
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8665
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8581
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8622
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8558
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3691 - accuracy: 0.8480
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3466 - accuracy: 0.8582
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8562
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8669
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8579
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8613
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8593
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3468 - accuracy: 0.8608
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8624
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8587
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8613
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8601
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8602
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8552
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8595
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8636
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8644
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8619
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8626
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8614
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8622
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8653
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8570
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8608
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8577
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8608
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8649
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8590
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8629
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8597
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8668
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8630
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8592
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8572
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8569
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8659
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8572
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8565
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8552
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8570
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8674
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8682
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8640
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8590
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8656
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8630
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8552
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8607
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8581
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8564
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8603
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8609
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8610
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8575
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3281 - accuracy: 0.8677
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8549
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8588
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8599
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8624
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8598
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8624
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8637
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8589
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8627
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8659
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8602
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8627
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8637
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8658

## Bagian 4 - Membuat Prediksi dan mengevaluasi model

### Memprediksi Hasil dari observasi tunggal

Menggunakan model ANN ini untuk memprediksi apakah nasabah dengan informasi berikut akan menutup rekening : 

Provinsi: DKI Jakarta

Nilai Kredit: 600

Jenis Kelamin: Laki-Laki

Umur: 40 years old

Tenor: 3 years

Saldo: \$ 60000

Jumlah Produk: 2

Apakah punya kartu kredit? Yes

nasabah aktif: Yes

perkiraan pendapatan: \$ 50000

Jadi, haruskah diucapkan selamat tinggal kepada pelanggan tersebut?

**Solution**

In [23]:
# Sebagaimana digunakan fungsi sigmoid, diperoleh probabilitas nasabah ini tutup rekening :.
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

[[0.02290918]]

Namum, model ANN ini memprediksi nasabah tersebut masih memiliki rekening di bank!

**Catatan Penting 1:** Perhatikan bahwa nilai fitur yang diinputkan dalam kurung siku pasangan ganda. karena metoda "predict" selalu mengharapkan array 2D array sebagai input. Dan menaruh nilai tersebut dalam kurung siku pasangan ganda membuat input menjadi array 2D.

**Catatan Penting 2:** Perhatikan juga bahwa Provinsi "DKI Jakarta" tidak sebagai input string pada kolom tetapi sebagai "1, 0, 0" dalam 3 kolom pertama. Hal itu dikarenakan metoda prediksi mengharapkan nilai one-hot-encoded sebagai inputan, dan seperti yang terlihat pada baris pertama dari fitur matrik X, "DKI Jakarta" dikodekan sebagai "1, 0, 0". Dan selalu perhatikan untuk memasukan nilai ini dalam 3 kolom pertama, karena variabel buatan selalu dibuat dalam kolom pertama.

### Memprediksi data tes

In [24]:
# Ini merupakan probabilitas dari prediksi
y_predicted = ann.predict(X_test)
# Konversi probabilitas prediksi menjadi hasil binari
y_predicted = (y_predicted > 0.5)
print(np.concatenate((y_predicted.reshape(len(y_predicted),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Membuat Confusion Matrix

In [28]:
from sklearn.metrics import (accuracy_score, f1_score,average_precision_score, confusion_matrix,
                             average_precision_score, precision_score, recall_score, roc_auc_score, )
cm = confusion_matrix(y_test, y_predicted)

In [29]:
print("AKURASI:", accuracy_score(y_test, y_predicted))
print("PRESISI:", precision_score(y_test, y_predicted))
print("Recall:", recall_score(y_test, y_predicted))
print("F1:", f1_score(y_test, y_predicted))
print("Area under precision (AUC) Recall:", average_precision_score(y_test, y_predicted))

AKURASI: 0.87
PRESISI: 0.7924528301886793
Recall: 0.5060240963855421
F1: 0.6176470588235294
Area under precision (AUC) Recall: 0.5035002273243919

In [30]:
print(cm)
print("Sehingga,")
print("Total Prediksi benar bahwa nasabah masih punya rekening =", cm[0][0])
print("Total Prediksi benar bahwa nasabah tutup rekening =", cm[1][1])
print("Total Prediksi salah bahwa nasabah masih punya rekening =", cm[1][0])
print("Total Prediksi salah bahwa nasabah tutup rekening =", cm[0][1])

[[1530   55]
 [ 205  210]]
Sehingga,
Total Prediksi benar bahwa nasabah masih punya rekening = 1530
Total Prediksi benar bahwa nasabah tutup rekening = 210
Total Prediksi salah bahwa nasabah masih punya rekening = 205
Total Prediksi salah bahwa nasabah tutup rekening = 55