<a href="https://colab.research.google.com/github/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/blob/main/ann_sederhana_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pendeteksian Tutup Rekening Nasabah Bank  (Churn)

## Bagian 1 - Data Preprocessing

### Importing the libraries

In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd

Mengetahui Versi of Tensorflow

In [2]:
tf.__version__

'2.4.0'

### Importing dataset

In [3]:
!wget https://github.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/raw/main/DataNasabah.csv

--2020-12-21 15:37:10--  https://github.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/raw/main/DataNasabah.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/main/DataNasabah.csv [following]
--2020-12-21 15:37:11--  https://raw.githubusercontent.com/naufalperdana/ANN_Prediksi_Tutup_Rekening_Bank/main/DataNasabah.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 863152 (843K) [text/plain]
Saving to: ‘DataNasabah.csv.1’

DataNasabah.csv.1   100%[===================>] 842.92K  --.-KB/s    in 0.02s

2020-12-21 15:37:11 (42.8 MB/s) - ‘DataNasabah.csv.1’ saved [863152/863152]

In [4]:
dataset = pd.read_csv('DataNasabah.csv')

**Melihat Dataset**

In [5]:
dataset.head()

   Nomer  IDKostumer  ... PerkiraanPendapatan  TutupRekening
0      1    15634602  ...         10134888000              1
1      2    15647311  ...         11254258000              0
2      3    15619304  ...         11393157000              1
3      4    15701354  ...          9382663000              0
4      5    15737888  ...           790841000              0

[5 rows x 14 columns]

In [6]:
dataset.describe()

             Nomer    IDKostumer  ...  PerkiraanPendapatan  TutupRekening
count  10000.00000  1.000000e+04  ...         1.000000e+04   10000.000000
mean    5000.50000  1.569094e+07  ...         9.089385e+09       0.203700
std     2886.89568  7.193619e+04  ...         6.128208e+09       0.402769
min        1.00000  1.556570e+07  ...         5.230000e+05       0.000000
25%     2500.75000  1.562853e+07  ...         3.336751e+09       0.000000
50%     5000.50000  1.569074e+07  ...         8.890572e+09       0.000000
75%     7500.25000  1.575323e+07  ...         1.439529e+10       0.000000
max    10000.00000  1.581569e+07  ...         1.999925e+10       1.000000

[8 rows x 11 columns]

In [7]:
# Memeriksa tipe data dan nilai null
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nomer                10000 non-null  int64
 1   IDKostumer           10000 non-null  int64
 2   Nama                 10000 non-null  object
 3   NilaiKredit          10000 non-null  int64
 4   Provinsi             10000 non-null  object
 5   JenisKelamin         10000 non-null  object
 6   Umur                 10000 non-null  int64
 7   tenor                10000 non-null  int64
 8   saldo                10000 non-null  int64
 9   jumlahProduk         10000 non-null  int64
 10  PunyaKartuKredit     10000 non-null  int64
 11  NasabahAktif         10000 non-null  int64
 12  PerkiraanPendapatan  10000 non-null  int64
 13  TutupRekening        10000 non-null  int64
dtypes: int64(11), object(3)
memory usage: 1.1+ MB

In [8]:
# Mengabaikan 3 kolom pertama dan kolom terakhir, karena bukan fitur yang berguna.
# Indek dimulai dari 0.
x = dataset.iloc[:, 3:-1].values

# ambil kolom terakhir untuk mendapatkan sebagai nilai penentu(kelas tutup rekening / ada rekening).
y = dataset.iloc[:, -1].values

In [9]:
print(x)

[[619 'DKI Jakarta' 'Laki-Laki' ... 1 1 10134888000]
 [608 'Jawa Barat' 'Laki-Laki' ... 0 1 11254258000]
 [502 'DKI Jakarta' 'Laki-Laki' ... 1 0 11393157000]
 ...
 [709 'DKI Jakarta' 'Perempuan' ... 0 1 4208558000]
 [772 'Jawa Tengah' 'Laki-Laki' ... 1 0 9288852000]
 [792 'DKI Jakarta' 'Perempuan' ... 1 0 3819078000]]

In [10]:
print(y)

[1 0 1 ... 1 1 0]

### Mengkodekan kategori data

Melabeli kode kolom "JenisKelamin"

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Ambil semua baris untuk kolom ke-2 dan dikodekan.
x[:, 2] = le.fit_transform(x[:, 2])

In [12]:
print(x)

[[619 'DKI Jakarta' 0 ... 1 1 10134888000]
 [608 'Jawa Barat' 0 ... 0 1 11254258000]
 [502 'DKI Jakarta' 0 ... 1 0 11393157000]
 ...
 [709 'DKI Jakarta' 1 ... 0 1 4208558000]
 [772 'Jawa Tengah' 0 ... 1 0 9288852000]
 [792 'DKI Jakarta' 1 ... 1 0 3819078000]]

One Hot Encoding Kolom "Provinsi"

In [13]:
# dibuatkan one hot coding untuk tempat provinsi karena hal tersebut tidak berhubungan dengan mereka sendiri seperti halnya jenis kelamin.
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [14]:
print (x)

[[1.0 0.0 0.0 ... 1 1 10134888000]
 [0.0 1.0 0.0 ... 0 1 11254258000]
 [1.0 0.0 0.0 ... 1 0 11393157000]
 ...
 [1.0 0.0 0.0 ... 0 1 4208558000]
 [0.0 0.0 1.0 ... 1 0 9288852000]
 [1.0 0.0 0.0 ... 1 0 3819078000]]

### Membagi dataset menjadi data ajar dan data tes

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

### Skalar Fitur

In [16]:
# membuat skalar fitur untuk semua fitur yang ada dalam data ajar dan tes.
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
# Penyesuaian Skalar hanya pada data ajar untuk mencegah kebocoran informasi.
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Bagian 2 - Membangun ANN

### Penyiapkan ANN

In [17]:
# Membuat variabel yang mempresentasikan  ANN sebagai contoh dari kelas sekuensial yang menyiapkan ANN.
ann = tf.keras.models.Sequential()

### Menambahkan layer masukan dan layer pertama tersembunyi

In [18]:
# prosedur add() merupakan bagian kelas sekuensial.
# penambahan keseluruhan layer yang terhubung (tersembunyi), yang menjari objek baru untuk kelas yang padat.
# argumen dari dense() - 
# 'units' - merupakan penyebutan hyperparameters dan merupakan syaraf tersembunyi.
# 'activation' - fungsi aktifasi dalam layer yang tersembunyi harus sebagai fungsi aktifasi penyearah.
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) # 'relu' - nama kode untuk fungsi aktifasi penyearah.

### Menambahkan layar tersembunyi kedua

In [19]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Menambahkan layer keluaran

In [20]:
# Sebagaimana Layer Keluaran merupakan suatu binari yang hanya 1 syaraf untuk dicocokan dengan layer keluaran, sehingga 'units' = 1
# dibutuhkan fungsi aktifasi sigmoid, karena hal ini memberikan prediksi sebagaimana peluang probalilitasnya.# jika akan memprediksi variabel kategori, maka activation = 'sigmax'
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Bagian 3 - Pelatihan ANN

### Mengkompilasi ANN

In [21]:
# Argumen - 
# 'optimizer' - dipilih optimasi 'adam' karena dapat memberikan performa penurunan gradien stokastik. 
#  Penurunan gradien stokastik akan mengoptimalkan bobot untuk meminimalkan kerugian antara nilai aktual dan prediksi.
# 'loss' - Saat dilakukan klasifikasi biner dalam memprediksi variabel biner gunakan 'binary_crossentropy' dan 
#  jika memiliki variabel kategorikal untuk memprediksi digunakan 'categorical_crossentropy'
# 'metrics' - 
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Pelatihan ANN pada data ajar

In [22]:
# Pembelajaran batch, ukuran batch default untuk dibandingkan dengan hasil aktual = 32
ann.fit(X_train, y_train, batch_size=32, epochs=100)
# Seperti yang bisa dilihat, akurasi berkumpul di sekitar 0,86 di sekitar epoch = 20, jadi tidak dibutuhkan sampai 100 epoch.

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6297 - accuracy: 0.7400
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5144 - accuracy: 0.8033
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4814 - accuracy: 0.7973
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4579 - accuracy: 0.8000
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4593 - accuracy: 0.7927
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.8016
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.8036
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.7931
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.8007
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4187 - accuracy: 0.8063
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.8049
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4312 - accuracy: 0.8115
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8147
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4266 - accuracy: 0.8219
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4256 - accuracy: 0.8182
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8218
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4198 - accuracy: 0.8293
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8318
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8322
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4035 - accuracy: 0.8378
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8302
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8346
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8276
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3863 - accuracy: 0.8399
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8331
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3832 - accuracy: 0.8467
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8500
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3687 - accuracy: 0.8509
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8542
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3547 - accuracy: 0.8590
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3628 - accuracy: 0.8494
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3650 - accuracy: 0.8515
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8606
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8634
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8578
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8602
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3547 - accuracy: 0.8532
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8606
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.8522
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8590
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3578 - accuracy: 0.8530
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8609
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8585
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8542
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8566
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8603
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8646
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8594
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8557
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8590
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8539
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8624
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8603
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8564
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8582
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8595
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8601
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8594
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8635
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8549
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8557
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8549
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8602
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.8682
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8538
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8618
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8642
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8645
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8628
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8610
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8605
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8649
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8582
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8577
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8543
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8531
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8646
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8536
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8599
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8646
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8690
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8611
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8614
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8578
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8637
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8626
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8507
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8593
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8657
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8559
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8602
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8613
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8564
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8645
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8584
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8617
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8659
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8627
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8614
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8624

## Bagian 4 - Membuat Prediksi dan mengevaluasi model

### Memprediksi Hasil dari observasi tunggal

Menggunakan model ANN ini untuk memprediksi apakah nasabah dengan informasi berikut akan menutup rekening : 

Provinsi: DKI Jakarta

Nilai Kredit: 600

Jenis Kelamin: Laki-Laki

Umur: 40 years old

Tenor: 3 years

Saldo: Rp 60000000

Jumlah Produk: 2

Apakah punya kartu kredit? Yes

nasabah aktif: Yes

perkiraan pendapatan: Rp 50000000

Jadi, haruskah diucapkan selamat tinggal kepada pelanggan tersebut?

**Solution**

In [25]:
# Sebagaimana digunakan fungsi sigmoid, diperoleh probabilitas nasabah ini tutup rekening :.
print(ann.predict(sc.transform([[1, 0, 0, 600, 0, 40, 3, 60000000, 2, 1, 1, 50000000]])))

[[0.0420994]]

Namum, model ANN ini memprediksi nasabah tersebut masih memiliki rekening di bank!

**Catatan Penting 1:** Perhatikan bahwa nilai fitur yang diinputkan dalam kurung siku pasangan ganda. karena metoda "predict" selalu mengharapkan array 2D array sebagai input. Dan menaruh nilai tersebut dalam kurung siku pasangan ganda membuat input menjadi array 2D.

**Catatan Penting 2:** Perhatikan juga bahwa Provinsi "DKI Jakarta" tidak sebagai input string pada kolom tetapi sebagai "1, 0, 0" dalam 3 kolom pertama. Hal itu dikarenakan metoda prediksi mengharapkan nilai one-hot-encoded sebagai inputan, dan seperti yang terlihat pada baris pertama dari fitur matrik X, "DKI Jakarta" dikodekan sebagai "1, 0, 0". Dan selalu perhatikan untuk memasukan nilai ini dalam 3 kolom pertama, karena variabel buatan selalu dibuat dalam kolom pertama.

### Memprediksi data tes

In [26]:
# Ini merupakan probabilitas dari prediksi
y_predicted = ann.predict(X_test)
# Konversi probabilitas prediksi menjadi hasil binari
y_predicted = (y_predicted > 0.5)
print(np.concatenate((y_predicted.reshape(len(y_predicted),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Membuat Confusion Matrix

In [27]:
from sklearn.metrics import (accuracy_score, f1_score,average_precision_score, confusion_matrix,
                             average_precision_score, precision_score, recall_score, roc_auc_score, )
cm = confusion_matrix(y_test, y_predicted)

In [28]:
print("AKURASI:", accuracy_score(y_test, y_predicted))
print("PRESISI:", precision_score(y_test, y_predicted))
print("Recall:", recall_score(y_test, y_predicted))
print("F1:", f1_score(y_test, y_predicted))
print("Area under precision (AUC) Recall:", average_precision_score(y_test, y_predicted))

AKURASI: 0.8605
PRESISI: 0.7905982905982906
Recall: 0.4457831325301205
F1: 0.5701078582434514
Area under precision (AUC) Recall: 0.4674353825558645

In [29]:
print(cm)
print("Sehingga,")
print("Total Prediksi benar bahwa nasabah masih punya rekening =", cm[0][0])
print("Total Prediksi benar bahwa nasabah tutup rekening =", cm[1][1])
print("Total Prediksi salah bahwa nasabah masih punya rekening =", cm[1][0])
print("Total Prediksi salah bahwa nasabah tutup rekening =", cm[0][1])

[[1536   49]
 [ 230  185]]
Sehingga,
Total Prediksi benar bahwa nasabah masih punya rekening = 1536
Total Prediksi benar bahwa nasabah tutup rekening = 185
Total Prediksi salah bahwa nasabah masih punya rekening = 230
Total Prediksi salah bahwa nasabah tutup rekening = 49